<!DOCTYPE html>
<html lang="en">
<head>
    <!-- кодировка для поддержки латиницы и кириллицы -->
    <meta charset="UTF-8">
    <!-- мета данные для ботов/поисковиков -->
    <meta name="author" content="Максим">
<!--    <meta name="description" content="Тестовая страница">-->
<!--    <meta name="keywords" content="тест, проверка, html">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <title>Товары</title>
</head>
<body>
    <h1>{{ product[0][1] }}</h1>
    <p>{{ product[0][2] }}</p>
</body>
</html>