<!DOCTYPE html>
<html lang="en">
<head>
    <!-- кодировка для поддержки латиницы и кириллицы -->
    <meta charset="UTF-8">
    <!-- мета данные для ботов/поисковиков -->
    <meta name="author" content="Максим">
<!--    <meta name="description" content="Тестовая страница">-->
<!--    <meta name="keywords" content="тест, проверка, html">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <title>Таблица</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% for user in users %}
    <h1><a href="{{ url_for('function_url', id=user.id, name=user.name) }}">{{ user[0] }}</a></h1>
{% endfor %}

</body>
</html>